body{
    background: #d2d2c1 url('images/fundo.png'); /* colocar uma cor reserva para caso a imagem não carregue*/
    font: 16px, Arial, Helvetica, sans-serif;
}

h1{
    color: #828271;
    font-size: 1.4em;
}

h2{
    color: rgb(38, 59, 80);
}

a{
    color: #4b566a;
    text-decoration: none; /* Tirar sublinhado do link*/
    font-weight: bold; /* Deixar negrito*/
    padding: 5px; /*padding - Espaçamento interno*/
}

#principal{ /*Id sendo usada como um container com para definir um tamanho padrão em toda a estrutura.*/
    display: table;
    margin: auto; /* Alinhar conteúdo no meio*/
    width: 900px;
}

#menu{
    background: #c5c5b2;
    padding: 18px; /*padding - Espaçamento interno*/
}

#conteudo{
    background: #e8e8d9;
    padding: 10px;
}

#rodape{
    text-align: center;
}

.centralizar{
    text-align: center;
}

.img-campanha{
    border: 10px solid #c3c3ae;
}
